
/Lib/zeromq-3.2.0/bin
/Lib/zeromq-3.2.0/builds
/Lib/zeromq-3.2.0/obj
/Lib/zeromq-3.2.0/obj
/Build/Bin/*.dll
/Build/Bin/*.pdb
/Build/Bin/*.exe
/Temp
/Test
/Server
/Lib/jsoncpp-src-0.5.0/build
/Tools/EFFEditor/Debug
/Tools/EFFEditor/GeneratedFiles
/Build/Bin/*.ilk
/Build/Bin/Material Lib
/Build/VC/VC2010/*.sdf
/Tools/EFFEditor/*.sdf
/Tools/EFFEditor/*.suo
ipch
/Build/VC/VC2010/*.suo
debug
obj
