/Lib/zeromq-3.2.0/bin
/Lib/zeromq-3.2.0/builds
/Lib/zeromq-3.2.0/obj
/Lib/zeromq-3.2.0/obj
/Temp
/Test
/Server
Build
/ThirdPartyLib/jsoncpp-src-0.5.0/build
/ThirdPartyLib/Synergy
/Tools/EFFEditor/Debug
/Tools/EFFEditor/GeneratedFiles
/Bin/*.ilk
/Bin/*.dll
/Bin/*.exe
/Bin/*.pdb
/Bin/Material Lib
/Bin/html
/Bin/media
/Bin/localstorage
/Bin/webix
/Lib
*.sdf
*.suo
ipch
/Tools/EFFAssetServer
/Tools/EFFWPFEditor
/Tools/EFFQtEditor
/Tools/EFFCEGUIEditor
/Tools/test
*.nvuser
obj
